<p>
 <head>
    <title>Scribe Consulting Project</title>
 </head>
 <p>
    <h1>Future Plans</h1><br>
    <p style="font-size:20px">
        <a href="/">Back</a><br>
        <ul>
            <li><p style="font-size:20px">Multi-level model</li>
            <li><p style="font-size:20px">Mechanism for designing custom features & classes through manual or semi-auto class definition</li>
            <li><p style="font-size:20px">Testing alternative classification algorithms</li>
            <li><p style="font-size:20px">Use oversampling to compensate for few title entries in some categories</li>
            <li><p style="font-size:20px">Combined text model is very likely over-fit against the style of input it was trained on, but <br>
                the actual input won't have such repetitive wording. Would like to use same train/validate/test <br>
                set (other than it lacking the combined text portion) to test it against more realistic input.</li>
            <li><p style="font-size:20px">Use fuzzy matching with a probability threshhold against the CountVectorizer vocabulary before testing inputs</li>
        </ul>
        <br>
 </body>
</html>