{% extends "layout.html" %}
{% block body %}
 <p>
    <br>
    <h2><b>Canadian Government Job Title Classes (level 2)</b></h2>
    <table>
        <tr>
            <td>
                <h2>Without Unknown / Failure Category</h2><br>
                <img src="{{url_for('static', filename='img/canada_histogram.png')}}">
            </td>
        </tr>
        <tr>
            <td>
                <h2>With Unknown / Failure Category</h2><br>
                <img src="{{url_for('static', filename='img/canada_histogram_emptycat.png')}}">
            </td>
        </tr>
    </table>
{% endblock %}