<html>
 <head>
    <title>Scribe Consulting Project</title>
 </head>
 <p>
    <h1>Job Title Classification</h1><br>
    <a href="/model_uncombined_validate">Uncombined Validation Set Classification Metrics</a> |
    <a href="/model_uncombined_test">Uncombined Test Set Classification Metrics</a> <br>
    <a href="/input">Live Classification Demo Single Term</a> |
    <a href="/multi_input">Live Classification Demo Multi Term</a><br>
    <a href="/scribe_results">Sample Results With Scribe Data</a> |
    <a href="/future_plans">Future Plans</a>
    <h2><b>Canadian Government Job Title Classes (level 2)</b></h2>
    <table>
        <tr>
            <td>
                <h2>Without Unknown / Failure Category</h2><br>
                <img src="{{url_for('static', filename='img/canada_histogram.png')}}">
            </td>
        </tr>
        <tr>
            <td>
                <h2>With Unknown / Failure Category</h2><br>
                <img src="{{url_for('static', filename='img/canada_histogram_emptycat.png')}}">
            </td>
        </tr>
    </table>
 </body>
</html>