<!doctype html>
<head>
    <title>Insight Consulting Project (Scribe)</title>
    <link href={{url_for('static', filename='css/bootstrap.min.css')}}, rel="stylesheet">
    <link href="starter-template.css" rel="stylesheet">
</head>
  <body>
  <div class="page">
    <h1>Job Title Classification</h1><br>
  <strong>
    <table border="0" class = "table">
        <tr>
            <td><a href="/model_uncombined_validate">Uncombined Validation Set Classification Metrics</a></td>
            <td><a href="/model_uncombined_test">Uncombined Test Set Classification Metrics</a></td>
        </tr>
        <tr>
            <td><a href="/input">Live Classification Demo Single Term</a></td>
            <td><a href="/multi_input">Live Classification Demo Multi Term</a></td>
        </tr>
        <tr>
            <td><a href="/scribe_results">Sample Results With Scribe Data</a></td>
            <td><a href="/">Main Page</a></td>
        </tr>
        <tr>
            <td colspan="2" style="text-align:center"><a href=/slides>SLIDES</a></td>
        </tr>
     </table>
      <br>
  </strong>
    {% block body %}
    {% endblock %}
  </div>
</body>